<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sku.jaebbom.notice.noticeMapper">

	<!-- 공지사항 페이지 페이징 하여 가져오기 -->
	<!-- 중첩문이 계속되는 까닭은 정해진 수 만큼 객체(공지사항)를 가져오기 위함(가장 최근에 작성된 것부터 정렬하여 가져옴) -->
	<!-- <![CDATA[]]>를 삽입해야 <,> 와 같은 특수 기호를 문제 없이 인식 -->
	<select id="getNoticeList"
		resultType="com.sku.jaebbom.notice.model.NoticeVO">
		SELECT
		NOTICE_NUM, TITLE, WRITER, WRITER_NUM ,CONTENT, WRITE_DATE
		FROM(
		SELECT
		RNUM, NOTICE_NUM, TITLE, WRITER, WRITER_NUM ,CONTENT, WRITE_DATE
		FROM(
		SELECT
		NOTICE_NUM, TITLE, WRITER, WRITER_NUM ,CONTENT, WRITE_DATE, ROWNUM AS RNUM
		FROM(
		SELECT
		*
		FROM
		NOTICE_VIEW
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if
				test="searchType=='title' and keyword != null and keyword != '' ">
				AND TITLE LIKE '%' || #{keyword} || '%'
			</if>
			<if
				test="searchType=='content' and keyword != null and keyword != '' ">
				AND CONTENT LIKE '%' || #{keyword} || '%'
			</if>
			<if
				test="searchType=='writer' and keyword != null and keyword != '' ">
				AND WRITER LIKE '%' || #{keyword} || '%'
			</if>
		</trim>
		ORDER BY NOTICE_NUM DESC
		)
		)
		WHERE
		RNUM 	<![CDATA[>=]]>
		#{startList}
		)
		WHERE
		ROWNUM 	<![CDATA[<=]]>
		#{listSize}
	</select>



	<!-- 페이징 위한 등록된 재능 개수 확인 쿼리문 -->
	<select id="getNoticeListCnt" resultType="int">
		SELECT
		COUNT(*) AS listCnt
		FROM
		NOTICE_VIEW
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if
				test="searchType=='title' and keyword != '' and keyword != null">
				AND TITLE LIKE '%' || #{keyword} || '%'
			</if>
			<if
				test="searchType=='content' and keyword != '' and keyword != null">
				AND CONTENT LIKE '%' || #{keyword} || '%'
			</if>
			<if
				test="searchType=='writer' and keyword != '' and keyword != null">
				AND WRITER LIKE '%' || #{keyword} || '%'
			</if>
		</trim>
	</select>

	<!-- 공지사항 불러오기 -->
	<select id="getNotice"
		resultType="com.sku.jaebbom.notice.model.NoticeVO"
		parameterType="com.sku.jaebbom.notice.model.NoticeVO">
		SELECT
		*
		FROM
		NOTICE_VIEW
		WHERE NOTICE_NUM = #{notice_num}
	</select>

	<!-- 공지사항 등록 -->
	<!-- 로그인 과정에서 매니저 계정을 로그인 처리 못하기에 WRTIER_NUM을 1로 임시 처리 -->
	<insert id="insertNotice"
		parameterType="com.sku.jaebbom.notice.model.NoticeVO">
		INSERT
		INTO NOTICE (
		NOTICE_NUM, WRITER_NUM, TITLE, NOTICE_CONTENT ,NOTICE_WRITEDATE
		)
		VALUES(
		NOTICE_SEQ_.NEXTVAL,
		1,
		#{title},
		#{content},
		TO_DATE(SYSDATE ,'yyyy.mm.dd hh24:mi')
		)
	</insert>

	<!-- 공지사항 수정 -->
	<update id="updateNotice"
		parameterType="com.sku.jaebbom.notice.model.NoticeVO">
		UPDATE
		NOTICE SET
		TITLE = #{title},
		NOTICE_CONTENT = #{content}
		WHERE
		NOTICE_NUM = #{notice_num}
	</update>

	<!-- 공지사항 삭제 -->
	<delete id="deleteNotice" parameterType="int">
		DELETE
		FROM NOTICE
		WHERE
		NOTICE_NUM = #{notice_num}
	</delete>

</mapper>