<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sku.jaebbom.review.reviewMapper">

	<!-- 리뷰들 페이징 하여 가져오기 -->
	<!-- 중첩문이 계속되는 까닭은 정해진 수 만큼 객체(리뷰)를 가져오기 위함(가장 최근에 작성된 것부터 정렬하여 가져옴) -->
	<!-- <![CDATA[]]>를 삽입해야 <,> 와 같은 특수 기호를 문제 없이 인식 -->
	<select id="getReviewList"
		resultType="com.sku.jaebbom.review.model.ReviewVO">
		SELECT
		REVIEW_NUM, TALENT_NUM, WRITER, WRITER_NUM ,CONTENT, WRITE_DATE, SCORE
		FROM(
		SELECT
		RNUM, REVIEW_NUM, TALENT_NUM, WRITER, WRITER_NUM , CONTENT, WRITE_DATE,
		SCORE
		FROM(
		SELECT
		REVIEW_NUM, TALENT_NUM, WRITER, WRITER_NUM , CONTENT, WRITE_DATE, SCORE, ROWNUM
		AS RNUM
		FROM(
		SELECT
		*
		FROM
		REVIEW_VIEW
		WHERE
		TALENT_NUM = #{talent_num}
		ORDER BY WRITE_DATE DESC
		)
		)
		WHERE
		RNUM 	<![CDATA[>=]]>
		#{startList}
		)
		WHERE
		ROWNUM 	<![CDATA[<=]]>
		#{listSize}
	</select>



	<!-- 페이징 위한 등록된 리뷰 개수 확인 쿼리문 -->
	<select id="getReviewListCnt" resultType="int">
		SELECT
		COUNT(*) AS listCnt
		FROM
		REVIEW_VIEW
		WHERE
		TALENT_NUM= #{talent_num}
	</select>

	<!-- 리뷰 등록 -->
	<insert id="insertReview"
		parameterType="com.sku.jaebbom.review.model.ReviewVO">
		INSERT
		INTO REVIEW (
		REVIEW_NUM, TALENT_NUM, WRITER, REVIEW_CONTENT , REVIEW_WRITEDATE, SCORE
		)
		VALUES(
		REVIEW_SEQ_.NEXTVAL,
		#{talent_num},
		#{writer_num},
		#{content},
		TO_DATE(SYSDATE ,'yyyy.mm.dd hh24:mi'),
		#{score}
		)
	</insert>

	<!-- 리뷰 수정 -->
	<update id="updateReivew"
		parameterType="com.sku.jaebbom.review.model.ReviewVO">
		UPDATE
		NOTICE SET
		REVIEW_CONTENT = #{content}
		WHERE
		REVIEW_NUM = #{review_num}
	</update>

	<!-- 리뷰 삭제 -->
	<delete id="deleteReview" parameterType="int">
		DELETE
		FROM REVIEW
		WHERE
		REVIEW_NUM = #{review_num}
	</delete>

</mapper>